In [2]:
import pandas as pd
import json

# Read the JSON file into a string
with open('response_003a2491-9384-11ed-80a6-890591dec723.json') as f:
    json_string = f.read()

# Parse the JSON string into a Python object
data = json.loads(json_string)

# Convert the Python object into a pandas DataFrame
df = pd.read_json('response_003a2491-9384-11ed-80a6-890591dec723.json')

df = pd.json_normalize(data, record_path =['rows'])

df.head()

,uuid,title,jobFamily,level,focusTag,yearsOfExperience,yearsAtCompany,yearsAtLevel,offerDate,location,...,ethnicity,education,otherDetails,vestingSchedule,tags,companyInfo.registered,companyInfo.icon,companyInfo.name,companyInfo.slug,companyInfo
0,d053142e-f3ee-4ce3-a70f-2e41a41963ce,Total Rewards Director,Human Resources,None,None,22,1,1.0,Tue Jul 26 2022 17:13:58 GMT+0000 (Coordinated...,"New York, NY",...,None,None,None,None,None,True,https://logo.clearbit.com/thirtymadison.com,Thirty Madison,thirty-madison,NaN
1,d90a1b83-5175-4862-b6ab-6f88dc96b8e8,False,Human Resources,None,None,22,3,2.0,Sun Jul 24 2022 00:19:09 GMT+0000 (Coordinated...,"Minneapolis, MN",...,None,None,NaN,None,None,NaN,NaN,NaN,NaN,False
2,1a2103dc-5091-49f5-ba07-19f8ecacb543,False,Human Resources,False,False,5-10,2-4,2.0,Fri Jul 22 2022 17:11:28 GMT+0000 (Coordinated...,"San Francisco, CA",...,None,None,NaN,None,None,True,https://logo.clearbit.com/twitter.com,Twitter,twitter,NaN
3,801e091f-18ca-4f5e-a8a6-b77dae478cf8,Hr Manager,Human Resources,P3,None,10,1,1.0,Fri Jul 22 2022 13:10:21 GMT+0000 (Coordinated...,"San Francisco, CA",...,None,None,None,None,None,True,https://logo.clearbit.com/mozilla.org,Mozilla,mozilla,NaN
4,e983ae47-a1fc-45e8-bdbd-328378dbee06,Hr And Accounting Specialist,Human Resources,None,None,1,1,1.0,Fri Jul 22 2022 13:07:15 GMT+0000 (Coordinated...,"Waterloo, IA",...,White,Bachelors degree,None,None,None,False,None,Building Products,None,NaN

In [5]:
pd.set_option('display.max_columns', None)

In [7]:
df.head()

,uuid,title,jobFamily,level,focusTag,yearsOfExperience,yearsAtCompany,yearsAtLevel,offerDate,location,workArrangement,compPerspective,dmaId,countryId,exchangeRate,baseSalary,baseSalaryCurrency,totalCompensation,avgAnnualStockGrantValue,stockGrantCurrency,avgAnnualBonusValue,bonusCurrency,salesComp,negotiatedAmount,gender,ethnicity,education,otherDetails,vestingSchedule,tags,companyInfo.registered,companyInfo.icon,companyInfo.name,companyInfo.slug,companyInfo
0,d053142e-f3ee-4ce3-a70f-2e41a41963ce,Total Rewards Director,Human Resources,None,None,22,1,1.0,Tue Jul 26 2022 17:13:58 GMT+0000 (Coordinated...,"New York, NY",remote,employee,501,254,1.0,230000.0,USD,276000.0,NaN,None,46000.0,USD,None,NaN,None,None,None,None,None,None,True,https://logo.clearbit.com/thirtymadison.com,Thirty Madison,thirty-madison,NaN
1,d90a1b83-5175-4862-b6ab-6f88dc96b8e8,False,Human Resources,None,None,22,3,2.0,Sun Jul 24 2022 00:19:09 GMT+0000 (Coordinated...,"Minneapolis, MN",remote,employee,613,254,1.0,190000.0,USD,278000.0,50000.0,USD,38000.0,USD,None,NaN,None,None,None,NaN,None,None,NaN,NaN,NaN,NaN,False
2,1a2103dc-5091-49f5-ba07-19f8ecacb543,False,Human Resources,False,False,5-10,2-4,2.0,Fri Jul 22 2022 17:11:28 GMT+0000 (Coordinated...,"San Francisco, CA",hybrid,employee,807,254,1.0,138000.0,USD,138000.0,NaN,None,NaN,None,None,NaN,None,None,None,NaN,None,None,True,https://logo.clearbit.com/twitter.com,Twitter,twitter,NaN
3,801e091f-18ca-4f5e-a8a6-b77dae478cf8,Hr Manager,Human Resources,P3,None,10,1,1.0,Fri Jul 22 2022 13:10:21 GMT+0000 (Coordinated...,"San Francisco, CA",office,employee,807,254,1.0,200000.0,USD,270000.0,NaN,None,70000.0,USD,None,NaN,None,None,None,None,None,None,True,https://logo.clearbit.com/mozilla.org,Mozilla,mozilla,NaN
4,e983ae47-a1fc-45e8-bdbd-328378dbee06,Hr And Accounting Specialist,Human Resources,None,None,1,1,1.0,Fri Jul 22 2022 13:07:15 GMT+0000 (Coordinated...,"Waterloo, IA",office,employee,637,254,1.0,49000.0,USD,49000.0,NaN,None,NaN,None,None,NaN,male,White,Bachelors degree,None,None,None,False,None,Building Products,None,NaN

In [9]:
#pip install azure-storage-blob
from azure.storage.blob import BlobServiceClient, ContainerClient, BlobClient
import os

# Replace with your storage account connection string
connection_string = "<your_connection_string>"
container_name = "<your_container_name>"
destination_folder = "<destination_folder>"

# Create a BlobServiceClient using the connection string
blob_service_client = BlobServiceClient.from_connection_string(connection_string)

# Get a reference to the container
container_client = blob_service_client.get_container_client(container_name)

# List all blobs in the container
blob_list = container_client.list_blobs()

# Download each blob to the specified destination folder
for blob in blob_list:
    # Get the reference to the blob
    blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob.name)

    # Download the blob to the destination folder
    destination_file = os.path.join(destination_folder, blob.name)
    with open(destination_file, "wb") as file:
        data = blob_client.download_blob()
        data.readinto(file)

print(f"Downloaded all files from '{container_name}' to '{destination_folder}'.")

ValueError: Connection string is either blank or malformed.